/* TOP-HEADER */
body {
    background-color:#e0f2fe;
    margin: 0;
}
:root {
    --primary-font: sans-serif;
    --font-size: 1.5rem;
    --font-weight: bold;

}
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid black;
}
.user_page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
.container {
    display: grid;
    grid-template-columns: 1fr 4.5fr;  
}

.grid-container {
    display: grid;
    grid-template: 50px 50px 50px / 50px 50px 50px;
}
.active {
    display: flex;
    flex-grow: 1;
}
/* Styling Dashboard */
.basic_nav {
    font-size: var(--font-size);
    font-weight: bold;
    font-family:var(--primary-font);
}
.basic_nav > li {
    margin-top: 25px;
}
.user_support {
    margin-top: 1.5rem;
}
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
    background-color:#38bdf8;
    color: white;
    height: 100vh;
}
.dashboard > h1 {
    font-size: 40px;
    padding: 20px; 
    font-family: var(--primary-font);
}
/* Styling top board */
.input_bar {
    width: 40rem;
    height: 2rem;
    border-radius: 1rem;   
    margin-left: 2rem ;
    margin: 10px;
}
.top {
    display: flex;
    flex-direction: row;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    align-items: center;
    background-color: white;
}
.profile {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    position: absolute;
    right: 5%;
    padding:24px;
    font-family: var(--primary-font);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}
.introduction {
    background-color: white;
}
/* Styling Announcements */
.updates {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--primary-font);
}
.card1 {
    border-radius: 10px;
    height: 250px;
    width: 200px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);

}